*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
}
body {
    font-family: "Inter", sans-serif;
    /* background: linear-gradient(to right, blue, green); */
}
.alert {
    border-radius: 0 !important;
    padding: 16px !important;
    background-color: #1433D6 !important;
    border: 2px solid #1433D6;
    /* border: none; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    height: 10px;
    width: 100%;
    z-index: 50;
    position: fixed;
}
.alert a {
    text-decoration: none;
    /* margin-top: 16px; */
}
.alert a:hover {
    text-decoration: underline;
    color: #EFF2FB;
}
.alert a p {
    color: #EFF2FB;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
}
.menu-list {
    display: flex;
    gap: 1em;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
}
.menu-list li a {
    text-decoration: none;
    color: #EFF2FB;
}
.menu-list li a:hover {
    text-decoration: underline;
}
@media (max-width: 1020px) {
    .menu-list {
        display: none;
    }    
}

.loop {
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo {
    width: 44px;
    padding-left: 10px;
    padding-top: 2px;
}
.logo-txt {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 750;
    color: #0080FF;
    
}
header {
    padding-top: 35px;
    position: fixed;
    z-index: 50;
    width: 100%;
    margin: auto;
    
}
nav {
    position: relative;
}
.nav-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 10px;
    background-color: #FFFFFF;
}
.left-side {
    display: flex;
    gap: 1em;
    align-items: center;
    /* padding: 20px; */
    /* border: 2px solid black; */
}
.menu-list-1 {
    display: flex;
    gap: 1.2em;
    align-items: center;
    margin-top: 14px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    /* border: 2px solid black; */
    padding-bottom:15px;

}

.menu-list-1 li {
    position: relative;

}
.menu-list-1 li a {
    text-decoration: none;
    color: #556282;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    padding: 8px 5px;
    transition: color 0.2s ease;
} 
.li-1:hover > .a-1 i {
    transform: rotate(180deg);
    transition: all 1s ease;
}
.li-1 .a-1:hover{
    background-color: #EFF2FB;
    padding: 10px 20px;
    border-radius: 20px;
    color: black;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;   
}
.mega-dropdown{
    display: none;
    width: 100%;
    left: 260px;
    top: 100%;
    position: absolute;
    z-index: 1000;
}
.drop-dropdown {
    display: flex;
    /* gap: 1.2em; */
    justify-content: center;
    width: 100%;
    background-color: white;
    /* position: absolute; */
    top: 100%;
    
}
.general-1 {
    width: 280px;
}

.drop-down-1 {
    border: thin solid black;
    border-left: black;
    border-right: none;
    padding-left: 50px;
    padding-top: 20px;
    width: fit-content;
    background-color: white;
    /* height: 100%; */
}
.left-col {
    /* position: absolute; */
    width: 370px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    border: thick solid white;
    padding: 20px;
    background-color: #F9FAFE;
}
.ul-li-1,.ul-li-2,.ul-li-3,.ul-li-4, .ul-li-5,.ul-li-6{
    margin-bottom: 20px;
}
h5 {
    padding: 0 40px 40px 40px;
}
.ul-li-1 h4 {
    padding-left: 20px;
}
.ul-li-2 h4 {
    padding-left: 20px;
} 
.ul-li-3 h4 {
    padding-left: 20px;
}
.ul-li-4 h4 {
    padding-left: 20px;
}
.ul-li-5 h4 {
    padding-left: 20px;
}
.ul-li-6 h4 {
    padding-left: 20px;
}
.ul-li-1 {
    padding: 12px 20px;
    border-radius: 12px;
}
.ul-li-1:hover {
    background-color: #EFF2FB;
}
.ul-li-2 {
    padding: 12px 20px;
    border-radius: 12px;
}
.ul-li-2:hover {
    background-color: #EFF2FB;
}
.ul-li-3 {
    padding: 12px 20px;
    border-radius: 12px;
}
.ul-li-3:hover {
    background-color: #EFF2FB;
}
.ul-li-4 {
    padding: 12px 20px;
    border-radius: 12px;
}
.ul-li-4:hover {
    background-color: #EFF2FB;
}
.ul-li-5 {
    padding: 12px 20px;
    border-radius: 12px;
}
.ul-li-5:hover {
    background-color: #EFF2FB;
}
.ul-li-6 {
    padding: 12px 20px;
    border-radius: 12px;
}
.ul-li-6:hover {
    background-color: #EFF2FB;
}
.paras{
    padding-left: 16px;
    padding-top: 5px;
}

.general-div {
    display: flex;
    gap: 1.4em;
    background-color: white;
    border: thin solid  black;
    border-left: black;
    padding: 20px;
    /* width: 1000px; */
    padding-left: 50px;
    padding-top: 50px;
    font-family: "Inter", sans-serif;
}
.ul-li-7 {
    /* padding-left: 40px; */
    padding-top: 10px;
}

.general-1 .col-compute li {
  margin-bottom: 8px;
}
.general-1 .col-compute li a {
  font-size: 16px;      
  font-weight: 500;    
  text-decoration: none;
  color: #4b5563;   
  padding-left: 10px;    
  /* transition: color 0.2s ease; */
}
.general-1 .col-compute li a:hover {
  color: black;       
}
.general-1 h4 {
    padding-top: 20px;
    padding-left: 10px;
}
.h4 {
    padding-bottom: 10px;
}
.general-1 .col-compute-2 li {
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.general-1 .col-compute-2 li a {
  font-size: 16px;      
  font-weight: 500;    
  text-decoration: none;
  color: #4b5563;   
  padding-left: 10px;    
  /* transition: color 0.2s ease; */
}
.general-1 .col-compute-2 li a:hover {
  color: black;       
}
.h4-1 {
    padding-bottom: 10px;
}
.general-1 .col-compute-3 li {
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.general-1 .col-compute-3 li a {
  font-size: 16px;      
  font-weight: 500;    
  text-decoration: none;
  color: #4b5563;       
  /* transition: color 0.2s ease; */
  padding-left: 10px;
}
.general-1 .col-compute-3 li a:hover {
  color: black;       
}
.h4-2 {
    padding-bottom: 10px;
}
.general-1 .col-network li {
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.general-1 .col-network li a {
  font-size: 16px;      
  font-weight: 500;    
  text-decoration: none;
  color: #4b5563;       
  /* transition: color 0.2s ease; */
  padding-left: 10px;
}
.general-1 .col-network li a:hover {
  color: black;       
}
.h4-3 {
    padding-bottom: 10px;
}
 .col-develop li {
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.col-develop li a {
  font-size: 16px;      
  font-weight: 500;    
  text-decoration: none;
  color: #4b5563;       
  /* transition: color 0.2s ease; */
  padding-left: 10px;
}
 .col-develop li a:hover {
  color: black;       
}
.menu-list-1 li:hover > .mega-dropdown {
    display: block;
    position: absolute;
    top: 100%;
    right: 30;
    /* background: #fff;  */
    padding: 20px;
    z-index: 1000;
    width: 80em;
    width: 100%;
}
.bars {
    font-size: 1.4em;
    visibility: hidden;
}
.right-side {
    display: flex;
    gap: 1.em;
    align-items: center;
    
}
.link-1, .link-2{
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 17px;
    font-style: normal;
    margin-left: 10px;

}
.link-2 {
    border-radius: 20px;
    padding: 10px 20px;
    background-color: #2C83FF;
    color: white;
}
.link-1 {
    color: #000C2A;
    border-radius: 20px;
    padding: 10px 20px;
}
.link-3 {
    padding: 10px 20px;
    border-radius: 20px;
}
.link-3:hover {
    background-color: #EFF2FB;
    transition: all 1.1s ease;
}
.link-1:hover{
    background-color: #EFF2FB;
    border-radius: 20px;
    transition: all 1.2s ease;
}
.link-2:hover {
    background-color: #1433D6;
    transition: all 1.1s ease;
}
@media (max-width: 1094px) {
    .menu-list-1 {
        display: none;
    }    
    .bars {
        visibility: visible;
        padding-left: 40px;
    }
}
@media (max-width: 1024px) {
    .menu-list-1 {
        display: none;
    }
    .bars {
        visibility: visible;
        /* padding-left: 40px; */
    }
    .right-side {
        margin-right: 20px;
    }
}
@media (max-width: 768px) {
    .link-1, .link-2 {
        display: none;
    }
}
.post-header {
    background-color: #0069FF;
    /* height: 160px;   */
    padding-top: 120px;


}
.post-header1{
    /* border: 2px solid black; */
    text-align: center;
    height: 32px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 88%;
    margin: auto;
    position: sticky;
    /* background-color: #0069FF;   */
}
.post-header1 p {
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    font-style: normal;
}
.post-header1 a {
    color: white;
    font-size: 20px;
    padding: 5px 5px;
}
.post-header1 a:hover {
    
    /* border-radius: 50%; */
}
.post-header1 a:hover {
    padding: 5px 5px;
    width: 30px;
    height: 30px;
    color: white;
    border-radius: 50%;
    background-color: #073a8193;
    padding-top: 5px;
    /* font-size: 18px; */
}
/* Layout */
.layout {
  display: flex;
  min-height: 110vh;
  font-family: Arial, sans-serif;
  background-color: #F9FAFE;
}


/* Sidebar */
.sidebar {
    /* position: fixed; */
    
  min-width: 180px;
  background: #F9FAFE;
  border-right: 1px solid #ddd;
  padding-top: 20px;
  /* border: 2px solid black; */
  height: 100vh;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.sidebar li {
  margin: 10px 0;
  font-size: 20px;
  color: #555;
  cursor: pointer;
  transition: color 0.3s ease;
}

.sidebar li:hover {
  /* color: #2b6df8; */
}
.sidebar li p {
  display: block;
  font-size: px;
  margin-top: 5px;
  color: #888;
}
.img-1{
    width: 30px;
}
.img-1 {
  filter: brightness(0) saturate(100%);
}
.img-2 {
  filter: brightness(0) saturate(100%);
}

/* Main Content */
.main-content {
  flex: 1;
  padding: 30px;
  /* display: ; */
}

.main-content h2 {
  font-size: 22px;
  margin-bottom: 10px;
}

.main-content p {
  font-size: 14px;
  color: #444;
}

.main-content a {
  color: #2b6df8;
  text-decoration: none;
}

.main-content a:hover {
  text-decoration: underline;
}

/* .droplet-options { */
.droplet-options {
  display: flex;
  gap: 15px;
  margin-top: 20px;
  width: 100%;
  /* margin-right: 100px; */
  /* border: 2px solid black; */
  justify-content: space-between;
}

.card {

  border: 2px solid #ddd;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: #fff;
  width: 330px;
  height: 180px;
}
.card-content input[type="radio"] {
  transform: scale(1.1);
  accent-color: #006aff;
  margin-right: 5px;
  cursor: pointer;
}

.card-content {
  padding: 20px;
  /* border: 2px solid black; */
  width: 330px;
  height: 180px;
}

.card-content h3 {
  margin: 0 0 10px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

.card-content p {
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  font-style: normal;
  color: #555;
}

/* Hover effect */
.card-content:hover{
  /* border-color: #2b6df8; */
  background-color: #1433D6;
  color: white;
  border-radius: 20px;
  transition: all 0.3s ease;
}
.card-content:hover p{
    color: white;
}

/* Selected effect */
/* .card input:checked + .card-content {
  background: #2b6df8;
  color: #fff;
  border-radius: 8px;
}

.card input:checked + .card-content p {
  color: #f0f0f0;
} */

.a2 {
    margin-top: 20px;
}
.drop-2 {
    display: flex;
    align-items: center;
    gap: 18px;
    margin-top: 30px;
}
footer {
    background-color: white;
    height: 60px;
    z-index: 1000;
    /* margin-bottom: 200px; */
    /* padding-top: 200px; */
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
.foot-div {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: right;
    margin-top: 20px;
    margin-right: 20px;
    /* text-align: center; */
}
.foot-div a {
    text-decoration: none;
}
.foot-link1 {
    padding: 10px 24px;
    background-color: #E3E8F4;
    border-radius: 40px;
    color: white;
    
}
.foot-link2 {
    color: #555;
}
.sidebar a {
    color: white;
    font-size: 20px;
    padding: 5px 5px;
}

.sidebar a:hover {
    padding: 8px 8px;
    width: 50px;
    height: 50px;
    color: white;
    border-radius: 50%;
    background-color: #1433D6;
    padding-top: 20px;
    /* font-size: 18px; */
}
.img-1:hover >.sidebar a{
  filter: brightness(0) invert(1);
}
.sidebar a:hover > .img-1:hover {
     filter: brightness(0) invert(1);
}
/* menu-list-1 li:hover > .mega-dropdown { */